.blog {
  display: flex;
  flex-direction: column;
  border-radius: 50px;

  // background: #035157;
  background: #888686;
}

.blog-header {
  display: flex;
  //   border: 2px #241901 solid;
  border-radius: 50px;
  min-height: 110px;
  height: auto;
}

.blog-header h1 {
  margin: 0 auto;
  padding: 25px;
  // color: #33c207;
  color: #7ad9f5;
}

.blog-news {
  padding: 50px;
  padding-top: unset;
}
.blog-new {
  margin: 20px;
  margin-top: 40px;
  border-radius: 20px;
  background: #01251f;
  height: auto;
  max-height: 300px;
  overflow: hidden;
  text-align: center;
}
.blog-new img {
  height: 100px;
  width: 60%;
  margin: 10px;
}
.headline {
  font-size: 35px !important;
  font-weight: bold;
}
.comments {
  background: #888686;
  margin: 5px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.comments p {
  font-style: italic;
}
.blog-new p {
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  color: white;
  margin: 0;
}
.blog-form {
  text-align: center;
  color: #33c207;
}

@media (max-width: 767px) {
}
