pre {
  background: #f1f1f1;
  border-radius: 3px;
  padding: 1px 10px;
  color: #975c0e !important;
}
.blog-others p {
  font-size: 25px;
}
.blog-view {
  color: antiquewhite;
  margin: 0 10px 0 10px;
  border-radius: 20px;
  background: #01251f;
  height: auto;
  overflow: hidden;
  text-align: center;
}
.blog-view img {
  margin-top: 10px;
}
.formEditor {
  display: flex;
  justify-content: center;
  margin: 10px;
}
.smallerImage img {
  width: 150px;
  height: 150px;
}
.Editor {
  background: #035547;
}
.editorTag {
  text-align: center;
  color: white;
  font-size: 40px;
  display: flex;
  flex-direction: column;
}
.rdw-editor-wrapper {
  padding: 10px;
}
.rdw-editor-main {
  min-height: 200px;
  padding: 8px;
}
.rdw-editor-toolbar {
  margin-bottom: 0 !important;
  border-bottom: 2px #035547 solid !important;
}
.rdw-editor-main {
  color: rgb(231, 224, 224);
  background: rgb(1, 47, 65);
}
